<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>게시물 작성 폼</title>
</head>
<style>

  .layout {
    width: 500px;
    margin: 0 auto; //위아래 0 좌우 auto
  margin-top: 40px;
  }

  .layout input, textarea {
    width: 100%;
    box-sizing: border-box;
  }

  .layout textarea {
    margin-top: 10px;
    min-height: 300px;
  }

</style>
<body>
<div class="layout">
  <form th:action="@{/bbs/update/{id}(id=${bbs.id})}" method="post">
    <input name="title" type="text" th:value="${bbs.title}">
    <textarea name="content" th:text="${bbs.content}"></textarea>
    <button type="submit">수정</button>
  </form>
</div>
</body>
</html>